
.info{
    margin-top: 50px;
}
.info__about{
    padding: 50px 10px;
}
.title__info{
    color:#93C120 ;
    text-align: center;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 50px;
}
.text__info{
    color:white ;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    font-size: 24px;
    font-family: Open Sans;
    line-height: normal;
}
.text__info .green{
    font-size: 24px;
}


.info__about2{
    padding: 50px 10px 0px 10px;
}
.title__info2{
    color:#93C120 ;
    text-align: center;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 50px;
}
.text__info2{
    color:white ;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    font-size: 22px;
    font-family: Open Sans;
    line-height: normal;
    padding-bottom: 50px;
}
.text__info2 .green{
    font-size: 22px;
}
/* ------------------------------------------------------------- */
.fade-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

/* ------------------------------------------------------------- */



/* gallery */
.gallery__clients{
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.title__gal{
    color:#93C120 ;
    text-align: center;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 50px;
padding-top: 50px;
}
.item__clients{
    box-sizing: border-box;
    padding: 20px 100px;
    width: 33%;
   
}
.img__gal{
    width: 100%;
}
.clients{
padding-bottom: 50px;
    background: white;
}

.form__yandex{
    margin: 0 auto;
    display: block;
    
}
.info__about{
    background: black;
}
.title__info2{
   
 
}
.info__about2{
    margin-top: 800px;
    background-color: black;
}
@media screen and (max-width:864px) {
   .item__clients{
    box-sizing: border-box;
    padding: 20px 50px;
    width: 33%;
} 
.text__info{
    text-align: center;
    max-width: 600px;
}
    .info__about{
        padding-bottom: 0;
    }
    .title__info2{
        padding-bottom: 20px;
    }
    .text__info2{
        text-align: center;
        padding-bottom: 30px;
        max-width: 600px;
    }
    .title__gal{
        padding: 20px 0;
    }
}
@media screen and (max-width:460px) {
    .item__clients{
    box-sizing: border-box;
    padding: 20px 20px;
    width: 50%;
} 
.title__info{
    font-size: 24px;
    padding-bottom: 20px;
}
.item__clients:last-child{
    display: none;
}
.info{
    margin-top: 20px;
}
.text__info{
    font-size: 18px;
    max-width: 350px;
}
.text__info .green{
    font-size: 18px;
}
.video__title{
    margin-top: 20px;
}
.info__about2{
    padding-top: 20px;
}
.title__info2{
    font-size: 24px;
}
.text__info2{
    font-size: 18px;
}
.text__info2 .green{
    font-size: 18px;
}
.title__gal{
    font-size: 24px;
}
.title__map{
    font-size: 24px;
}
.footer__title{
    font-size: 24px;
}
.title__map{
    font-size: 24px;
}
}