.services__content_text{
    color: aliceblue;
   
    font-size: 28px;
    font-family: Montserrat;

font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 1000px;
margin: 0 auto;
margin-top: 130px;
display: block;
padding-bottom: 50px;
}
.services__content_text .green{
    font-size: 28px;
}
.main_info{
    font-weight: 700;
}
.title_ser{
    font-family: 'Finlandica';
}
.img__service{
    transition: transform 0.4s;
}
.img__service:hover{
transform: scale(1.2);
transition: transform 0.4s;
}


/* new s2  */
.s2__item{
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    overflow-x: hidden;
    margin-bottom: 30px;

}
.s2__img{
    width: 100%;
    margin: 0 auto;
    display: block;
}
.s2__include_list{
    color: aliceblue;
    position: absolute;
    top: 45px;
    left: 20px;  
     
    
}
.s2__title{
    color: aliceblue;
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 26px;
    backdrop-filter: blur(10px);
    padding: 5px;
    font-family: Open Sans;
}
.s2__include_item{
    margin-bottom: 15px;
    padding: 5px;
    font-family: Open Sans;
    border-radius: 5px;
    backdrop-filter: blur(10px);
   transform: translateX(-110%);
}
.s2_active{
 transform: translateX(0%);
}



@media screen and (max-width:864px) {
    .services__content_text{
        max-width: 600px;
        text-align: center;
        font-size: 22px;
        margin-top: 110px;
    }
    .services__content_text .green{
        font-size: 22px;
    }
}
@media screen and (max-width:460px) {
    .services__content_text{
        max-width: 400px;
        text-align: center;
        font-size: 18px;
        margin-top: 85px;
    }
    .services__content_text .green{
        font-size: 18px;
    }
    .s2__title{
        font-size: 18px;
        left: 0;
        top: 0;
    }
    .s2__include_item{
        font-size: 14px;
        padding: 2px;
        margin-bottom: 3px;
    }
    .s2__include_list{
        left: 0;
        top: 35px;
    }
}