html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background: black;
    
}

.container{
    margin: 0 auto;
    max-width: 1440px;
}

/* header */

.header{
    position: fixed;
    width: 100%;
    top: 0;
    background: black;
    z-index: 999;
}
.container__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
   
}
.logo__img{
    width: 170px;
   
}

.list__nav{
    display: flex;
    align-items: center;
}
.link__nav{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    transition: color 0.3s;
    font-family: Open Sans;
}
.item__nav{
    margin-right: 32px;
}
.link__nav:hover{
    color: #93c120;
    
    transition: color 0.3s;
}

/* секция первого видео */
#myVideo{
    width: 100%;
    height: auto;
}

/* price  */

.green__back{
    background: #93C120;
}
.white__back{
    background: #FFF;
}
/* плавный контент */

.fade-in {
    opacity: 0;
    transform: translateX(200px);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}
/* about section */
.about{
    padding-top: 45px;
    padding-bottom: 45px;
}
.container__about{
    color: white;
}
.title__about{
    color: #93c120;
    color: #93C120;
text-align: center;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 45px;
}
.text__about{
    color: aliceblue;
    color: #FFF;
font-family: Open Sans;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 45px;
max-width: 1200px;
display: block;
margin: 0 auto;
}
.green{
    color: #93C120;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.white{
    color: #FFF;
}
.link__about{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img__svg_about{
    margin-top: 10px;
    margin-left: 20px;
}
.text__link_about{
    color: #93C120;
font-family: Commissioner;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 6.8px;
transition: color 0.5s;
}
.link__about:hover .text__link_about{
    color: #FFF;
}


.img__svg_about path {
    transition: fill 0.5s ease; /* Добавляем плавный переход */
}

.link__about:hover .img__svg_about path {
    fill: white; /* Изменяем цвет на белый при наведении */
}
/* service */
.list__sevrvice{
    display: flex;
    flex-wrap: wrap;

}
.item__service{
    
    width: 25%;
    list-style: none;
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
}
.img__service{
    margin: 0 auto;
    display: block;
}
.content__service{
    display: block;
    margin: auto;
    color: black;
}
.title__ser, .text__ser{
    text-align: center;
    margin-top: auto;
}
.list__service {
    display: flex;
  }
  
  .list__service {
    display: flex;
  }
  
  .item__service {
    height: 460px;
    width: 25%;
    list-style: none;
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    align-items: center; /* Выравниваем содержимое по центру по горизонтали */
  }
  
  .container__service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
  .img__container__ser{
    height: 200px;
  }
  .content__service {
    color: black;
  }
  
  .title__ser,
  .text__ser {
    text-align: center;
    margin: 0; 
    color: #000;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .text__ser{
    font-weight: 500;
    margin-top: 50px;
  }
  
  /* карта */
  .map{
    padding: 50px;
  }
  .title__map{
    color: #FFF;
    font-family: Open Sans;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .map_yandex{
    margin: 0 auto;
    display: block;
  }

  /* footer */
  .footer{
    padding: 50px;
  }
  .footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__title{
    color: #93C120;
text-align: left;
padding-bottom: 20px;
font-family: Open Sans;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .item__contact{
    margin-bottom: 20px;
  }
  .contact__link{
    color: #FFF;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration: none ;
  }
  .list__soc{
    display: flex;
    align-items: center;
  }
  .item__soc{
    margin-right: 30px;
  }
  .social:hover .svg__soc path{
    fill: white;
  }
  .svg__soc path {
    transition: fill 0.5s ease; /* Добавляем плавный переход */
}
.burger_menu{
    display: none;
}
/* бургер меню */
.burger{
    width: 60px;
    height: 50px;
    padding: 0px;
    margin: 0;
    border: none;
    background: transparent;
    display: none;
}
.burger__line{
    background: #93C120;
    width: 60px;
    height: 10px;
    margin-bottom: 10px;
}

/* Адаптив планшет */
@media screen and (max-width:868px) {
    .nav{
        display: none;
    }
    .burger{
        display: block;
    }
    .container{
        max-width: 700px;
    }
    .header{
        position: fixed;
        width: 100%;
     
    }
    .burger_menu{
        display: block;
        position: absolute;
        right: 0;
        transform:translateX(100%) ;
        overflow-x: hidden;
        background-color:#93C120;
        width: 200px;
        top:90px;
        transition: transform 1s, opacity 1.5s;
        opacity: 0;
    }
    
    .burger_nav_item{
        list-style: none;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .burger_nav{
        padding: 10px;
        text-align: left;
        
    }
    .nav_link_b{
        text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: color 0.3s;
    font-family: Open Sans;
    padding: 0 10px;
    text-align: left;
    font-size: 18px;
    }
    .burger_menu_on{
        display: block;
        position: absolute;
        right: 0;
        transform:translateX(0%) ;
        opacity: 1;
        overflow: hidden;
        background-color:#93C120;
        width: 200px;
        transition: transform 1s, opacity 1.5s;
    }
    
    .burger__line{
        transition: transform 1s, opacity 1s ;
        border-radius: 10px 0px 10px 0px ;
    }
    
    
    .active .burger__line_1{
    transform: rotate(45deg) translate(9px, 17px);
    transition: transform 1s, opacity 1s ;
    }
    .active .burger__line_2{
    opacity: 0;
    transition: transform 1s, opacity 1s ;
    }
    .active .burger__line_3{
    transform: rotate(-45deg)  translate(10px, -20px);
    transition: transform 1s, opacity 1s ;
    }
    .text__about{
        max-width: 700px;
        text-align: center;
        font-size: 24px;
    }
    .green{
        font-size: 24px;
    }
    .title__about{
        font-size: 28px;
        padding-bottom: 30px;
    }
    .about{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .item__service{
        width: 50%;
        height: 400px;
    }
    .adaptiv{
        order: 1;
    }
    .text__link_about{
        font-size: 24px;
    }
    .img__svg_about{
        width: 50px;
        height: 50px;
        margin-top: 6px;
    }
    .map{
        padding: 30px 0px;
    }
   .footer{
    padding-top: 30px;
   }
   .form__yandex{
    max-width:630px ;
   }
   .video__wrap{
    margin-top: 120px;
   }
    }
    @media screen and (max-width:460px) {
        .container{
            max-width: 375px;
        }
        .title__about{
            font-size: 22px;
            padding-bottom: 15px;
        }
        .about{
            padding-top: 15px;
        }
        .text__about{
            font-size: 18px;
            padding-bottom: 15px;
        }
        .green{
            font-size: 18px;
        }
        .text__link_about{
            font-size: 22px;
        }
        .img__svg_about{
            width: 40px;
            height: 40px;
            margin-top: 2px;
        }
        .item__service{
            height: 350px;
            width: 100%;
        }
        .text__ser{
            margin-top: 10px;
        }
        .map_yandex{
            width: 100%;
            height: 300px;
        }
        .title__map{
            margin: 15px 0;
        }
        .map{
            padding:0 0 15px 0px;
        }
        .footer{
            padding: 15px 0px 30px 0px;
        }
        .footer__wrapper{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        .footer__title{
            text-align: center;
        }
        .list__soc{
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            
        }
        .item__contact{
            margin: 0;
        }
        .contact__link{
            font-size: 16px;
            text-align: center;
            
        }
        .item__contact{
            margin-top: 10px;
        }
        .svg__soc{
            width: 50px ;
            height: 50px;
            display: block;
            margin: 0 auto;
        }
        .footer__right{
            margin: 0 auto;
        }
        .item__soc{
            margin-right: 0;
            margin: 0 auto;
        }
        .inst__soc{
            margin: 0px 10px 0 20px;
        }
        .logo__img{
            width: 100px;
        }
        .burger{
            width: 50px;
            height: 40px;
        }
        .burger__line{
            width: 50px;
            height: 8px;
            margin-bottom: 8px;
            border-radius: 10px 0px 10px 0px ;
        }
        .active .burger__line_1{
            transform: rotate(45deg) translate(12px, 14px);
            transition: transform 1s, opacity 1s ;
            }
            .active .burger__line_2{
            opacity: 0;
            transition: transform 1s, opacity 1s ;
            }
            .active .burger__line_3{
            transform: rotate(-45deg)  translate(10px, -10px);
            transition: transform 1s, opacity 1s ;
            }
            .video__title{
                margin-top: 70px;
            }
            .adaptiv{
                order: 0;
            }
            .form__yandex{
                max-width:360px ;
               }
               .video__wrap{
                margin-top: 0;
               }
    }

    
