html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background: black;
    
}

.container{
    margin: 0 auto;
    max-width: 1440px;
}

/* header */

.header{
    position: sticky;
    top: 0;
    background: black;
    z-index: 2;
}
.container__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
}
.logo__img{
    width: 100px;
    height: 70px;
}

.list__nav{
    display: flex;
    align-items: center;
}
.link__nav{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    transition: color 0.3s;
}
.item__nav{
    margin-right: 32px;
}
.link__nav:hover{
    color: #93c120;
    
    transition: color 0.3s;
}

/* секция первого видео */
#myVideo{
    width: 100%;
    height: auto;
}

/* price  */

.green__back{
    background: #93C120;
}
.white__back{
    background: #FFF;
}
/* плавный контент */

.fade-in {
    opacity: 0;
    transform: translateX(200px);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}
/* about section */
.container__about{
    color: white;
}
.title__about{
    color: #93c120;
    color: #93C120;
text-align: center;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text__about{
    color: aliceblue;
    color: #FFF;
font-family: Open Sans;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.green{
    color: #93C120;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.link__about{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text__link_about{
    color: #93C120;
font-family: Commissioner;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 6.8px;

}
/* service */
.list__sevrvice{
    display: flex;

}
.item__service{
    height: 360px;
    width: 25%;
    list-style: none;
    margin: 0;
    padding: 40px;
}
.img__service{
    margin: 0 auto;
    display: block;
}
.content__service{
    display: block;
    margin: auto;
    color: black;
}
.title__ser, .text__ser{
    text-align: center;
    margin-top: auto;
}
.list__service {
    display: flex;
  }
  
  .list__service {
    display: flex;
  }
  
  .item__service {
    height: 360px;
    width: 25%;
    list-style: none;
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Выравниваем содержимое по центру по горизонтали */
  }
  
  .container__service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
  .img__container__ser{
    height: 200px;
  }
  .content__service {
    color: black;
  }
  
  .title__ser,
  .text__ser {
    text-align: center;
    margin: 0; /* Убираем стандартные отступы */
    color: #000;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .text__ser{
    font-weight: 500;
    margin-top: 50px;
  }
  